//==============================
// Styles Configuration
//==============================

// Positioning
$t6r-offset: 100px !default;
$t6r-z-index: 9999 !default;

// Padding
$t6r-padding: 10px 15px !default;

// Border radius
$t6r-border-radius: 30px !default;

// Text color
$t6r-text-color: #FFFFFF !default;

// Text shadow base
$t6r-text-shadow-base: #000000 !default;

// Font size
$t6r-font-size: 16px !default;

// Text shadow
$t6r-text-shadow: 0 1px 1px transparentize($t6r-text-shadow-base, 0.75) !default;

// Labelling colours
$t6r-info: #0E3A90 !default;
$t6r-success: #00857C !default;
$t6r-warning: #D88D00 !default;
$t6r-alert: #D5000B !default;

// Toasts background colour
$t6r-info-bg-color: linear-gradient(90deg, $t6r-info 0%, lighten($t6r-info, 15%) 100%) !default;
$t6r-success-bg-color: linear-gradient(90deg, $t6r-success 0%, lighten($t6r-success, 10%) 100%) !default;
$t6r-warning-bg-color: linear-gradient(90deg, $t6r-warning 0%, lighten($t6r-warning, 10%) 100%) !default;
$t6r-alert-bg-color: linear-gradient(90deg, $t6r-alert 0%, lighten($t6r-alert, 10%) 100%) !default;

//==============================
// Styles Definition
//==============================

// Offsets
%xCentered {
  left: 50%;
  transform: translateX(-50%);
}

%yCentered {
  top: 50%;
  transform: translateY(-50%);
}

.t6r {
  position: absolute;
  z-index: $t6r-z-index;
  padding: $t6r-padding;
  border-radius: $t6r-border-radius;
  font-size: $t6r-font-size;
  color: $t6r-text-color;
  text-shadow: $t6r-text-shadow;
  cursor: default;

  &.t6r-top {
    top: $t6r-offset;
    @extend %xCentered;
  }

  &.t6r-right {
    right: $t6r-offset;
    @extend %yCentered;
  }

  &.t6r-bottom {
    bottom: $t6r-offset;
    @extend %xCentered;
  }

  &.t6r-left {
    left: $t6r-offset;
    @extend %yCentered;
  }

  &.t6r-top-left {
    top: $t6r-offset;
    left: $t6r-offset;
  }

  &.t6r-top-right {
    top: $t6r-offset;
    right: $t6r-offset;
  }

  &.t6r-bottom-left {
    bottom: $t6r-offset;
    left: $t6r-offset;
  }

  &.t6r-bottom-right {
    bottom: $t6r-offset;
    right: $t6r-offset;
  }

  // Labelling
  &.t6r-info { background: $t6r-info-bg-color; }
  &.t6r-success { background: $t6r-success-bg-color; }
  &.t6r-warning { background: $t6r-warning-bg-color; }
  &.t6r-alert {background: $t6r-alert-bg-color; }

  // Animation
  &.t6r-fade-in {
    animation: fade-in 0.5s forwards;
  }

  &.t6r-fade-out {
    animation: fade-out 0.2s forwards;
  }

  &.t6r-from-top {
    animation:
      fade-in 0.5s forwards,
      from-top 0.5s forwards;
  }

  &.t6r-from-bottom {
    animation:
      fade-in 0.5s forwards,
      from-bottom 0.5s forwards;
  }
}

@keyframes from-bottom {
  0% { margin-bottom: 0; }
  100% { margin-bottom: $t6r-offset; }
}

@keyframes from-top {
  0% { margin-top: 0; }
  100% { margin-top: $t6r-offset; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0 }
}
